body {
    font-family: 'Times New Roman';
    background-image:url('gambar/background.png');
    background-size: cover; 
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gambar-bangun {
    display: none;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    color: #fff;
    position: absolute;
    right: center;
    top: 0.5cm;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#hasil {
    margin-top: 20px;
}
